<% include partials/header %>
<% include partials/navbar %>



<div id="main">
  <!-- how do I get a 404 to render? -->
  <div class="content pure-1-3">
    <h2 class="continent"> <%= flag.continent %></h2>
    <h3 class= "country"><%= flag.country.split('_').join(' ') %></h3>
    <h4 class= "capital"><%= flag.capital %></h4>
  </div>


  <div class="flag pure-1-3">
    <img src="/images/<%= flag.country %>.png" alt="" style="height:150px">
  </div>

    <hr>

    <p class= "info">
      <%= flag.info %>
      <br><br>
      <%= flag.infoTwo %>
    </p>

<% include partials/footer %>
<!--
var url = $("#url_").html().split(/\s+,|\s+/).join('-'); -->
