<% include partials/header %>
<% include partials/navbar %>

<div>
  <div class="continent"> <%= flag.continent %>
  <h3 class= "country"><%= flag.country %></h3>
  <h4 class= "capital"><%= flag.capital %></h4>
  <img class= "flagImage" src="/images/<%= flag.country %>.png" alt="">
  <hr>
  <p class= "info">
    <%= flag.info %>
    <br><br>
    <%= flag.infoTwo %>
  </p>

<% include partials/footer %>
<!--
var url = $("#url_").html().split(/\s+,|\s+/).join('-'); -->
