<% include partials/header %>
<% include partials/navbar %>

<div class= "content">
  <h2 class= "title"><%= flag.country %></h1>
  <h4 class= "subtitle"><%= flag.capital %></h4>
  <hr>
  <img src="/images/<%= flag.country %>.png" alt="">
  <p class= "info">
    <%= flag.info %>
    <br><br>
    <%= flag.infoTwo %>
  </p>

<% include partials/footer %>

var url = $("#url_").html().split(/\s+,|\s+/).join('-');
